/* ----- FONT FAMILIES ----- */

@font-face {
    font-family: Mont;
    src: url(../fonts/Montserrat.ttf);
}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Var.ttf);
}

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Regular.ttf);
}


/* ----- RESET ----- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

body {
    font-family: OpenSans, Arial, Helvetica, sans-serif;
}

:root {
    --primary: #fff;
    --secondary: #000;
    --accent: #000B3D;
    --light: #fff8dd;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--primary);
}

::-webkit-scrollbar-thumb {
    background: var(--secondary);
    border: 1px solid transparent;
    background-clip: content-box;
}

a {
    color: #111;
    text-decoration: none;
    transition: 0.3s;
}

li {
    list-style: none;
}


/* ----- HEADER ----- */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 5%;
    z-index: 100;
    transition: 0.3s;
}

header.sticky {
    background: var(--primary);
    padding: 1.5rem 5%;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16);
}

header a.logo {
    font-family: Mont, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 400;
}

header a.logo span {
    font-family: inherit;
    font-weight: 600;
}

header nav ul {
    display: flex;
    gap: 2rem;
}

header nav ul li a {
    min-width: 80px;
    text-align: center;
    letter-spacing: 1px;
    transition: all 0.3s ease-in-out;
    text-transform: capitalize;
    position: relative;
}

header nav ul li a::after {
    content: "";
    position: absolute;
    bottom: -6px;
    display: block;
    width: 0;
    height: 2px;
    background: var(--accent);
}

header nav a:hover::after,
header nav a.active::after {
    background: var(--accent);
    width: 40%;
    transition: all 0.3s ease-in-out;
}


/* ----- HERO SECTION ----- */

section {
    height: 100vh;
}